.ass-upper {
	text-transform: uppercase;
}
.ass-center {
	text-align: center;
}
.ass-right {
	text-align: right;
}
.ass-admin-page-padding {
	position: relative;
	padding-right: 20px;
}
.ass-cell-description {
	display: block;
	font-size: 12px;
	color: #888;
	font-weight: normal;
}
#ass-admin-message {
	display: none;
}
table.ass-server-status input,
table.ass-server-status select {
	width: 100%;
}
table.ass-server-status tr {
	transition: all 0.1s ease!important;
}
table.ass-server-status tr.deleted {
	background: rgb(242, 222, 222)!important;
}
table.ass-server-status tr.saved {
	background: #dff0d8!important;
}
.ass-shortcode-display {
	position: absolute;
	right: 20px;
	top: 0px;
}
.ass-shortcode-display {
	line-height: 14px;
}
.ass-shortcode-display pre {
	cursor: pointer;
}
.ass-shortcode-display pre,
.ass-pre {
	background: #DDD;
	display: inline-block;
}
.ass-please-rate {
	text-align: right;
	margin-top: 5px;
}
.ass-drag-handle {
	cursor:pointer;
}
div.ass-server-status-message {
	margin-top: 20px!important;
	margin-left: 0px!important;
}
.notice, div.error, div.updated {
	margin-left: 0px;
}
.danger-setting span {
	color: red;
}
.ass-toggle-yes {
	color: #155724;
}
.ass-toggle-no {
	color: #721c24;
}
@media (max-width:782px) {
	.ass-shortcode-display {
		position: static;
	}
	.ass-shortcodes-label {
		display: none;
	}
	.ass-table-responsive {
		overflow-x: auto;
	}
	.ass-table-responsive table {
		table-layout: initial;
		width: 1000px;
	}
	.ass-table-responsive .wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.check-column) {
		display: table-cell;
		vertical-align: top;
	}
	.ass-table-responsive th {
		vertical-align: top!important;
	}
	.ass-server-row td.moveit,
	.ass-server-row th.moveit {
		display: none!important;
	}
	#ass-admin-message {
		font-size: 16px;
	}
	#ass-admin-message strong {
		display: block;
	}
}